@model GestaoClientes.Domain.Models.Cliente

@{
    ViewData["Title"] = "Deletar Cliente";
}

<div class="card">

    <div class="card-header bg-danger text-white">
        <h3>Tem certeze que deseja apagar esse registro?</h3>
    </div>
    <div class="card-body">

        <partial name="_delete_details" />

        <form asp-controller="Clientes" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Apagar" class="btn btn-danger" />
            <a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Voltar à Lista</a>
        </form>
    </div>
</div>
